@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background: rgb(0, 255, 136);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.scrollbar::-webkit-scrollbar {
  width: 0; /* change the width of the scrollbar */
}

::-webkit-scrollbar {
  width: 5px; /* change the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: gray; /* change the background of the track */

  margin: 2px 0;
  /* top rounded */
  border-radius: 10px;
  /* bottom rounded*/
  box-shadow: inset 0px 0px 5px white;

}

::-webkit-scrollbar-thumb {
  background: rgb(70, 66, 66); /* change the background of the thumb */
  
}


